.pagetitle {
  text-align: center;
}

.centered {
  text-align: center;
}

h1 {
  margin-bottom: 0.3em;
}

/* Tweak the header/footer for this page */

body { margin: 0; }

div.topbarcontainer { display: none; }
div.bottombar { display: none; }

/*
div#cxcheader { display: none; }
div#cxcfooter { display: none; }
*/

div#cxcheader {
  background: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; 
  padding: 0;
  position: fixed;
}

div#cxcheaderleft { display: none; }
div#cxcheaderright {
  /*
  background: rgba(255, 255, 255, 0.6);
  border-bottom-color: #D9D9D9;
  border-left-color: #D9D9D9;
  */
  background: rgba(153, 204, 102, 0.8);
  border-bottom-color: rgb(115, 172, 57);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(115, 172, 57);
  border-left-style: solid;
  border-left-width: 1px;
  margin: 0;
  position: fixed;
  right: 0;
}
div#cxcheaderright ul {
  float: left;
}
div#cxcheaderright ul li {
  padding-top: 0;
}
div#cxcheaderright ul li a:hover {
  /* background-color: rgba(255, 255, 255, 0.6); */
  background-color: rgba(153, 204, 102, 0.8);
}

div#cxcfooter {
  padding: 0;
  position: fixed;
}
div#cxcfooterleft { display: none; }
div#cxcfooterright ul { display: none; }
div#cxcfooterright p {
  /*
  background: rgba(255, 255, 255, 0.6);
  border-top-color: #D9D9D9;
  */
  background: rgba(153, 204, 102, 0.8);
  border-top-color: rgb(115, 172, 57);
  border-top-style: solid;
  border-top-width: 1px;
  bottom: 0;
  margin: 0;
  padding: 0.3em 0.5em 0 0.5em;
  position: fixed;
  width: 100%;
}

div.mainbar { padding: 0; }

/* back to page elements */

.filename { font-family: monospace; }
.term { font-family: monospace; }

div.stackid { font-family: monospace; }
div.stackid output {
  border: 1px solid gray;
  border-radius: 0.4em;
  display: inline-block;
  padding: 0.2em;
}

output#stackid { width: 16em; }
output#stackdesc { width: 25em; }

div#WorldWideTelescopeControlHost {
  overflow: hidden;
/***
  margin-left: auto;
  margin-right: auto;
  position: relative;
***/
}

/* Since this is not a selectable element, use a different style to
 * the buttons
 */
#numbers {
  background-color: rgba(153, 204, 102, 0.8); /* #99CC66 made transparent */
  border: 1px solid rgb(115, 172, 57); /* from http://www.colorhexa.com/99cc66 */
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  font-family: monospace;
  margin-bottom: 0.4em;
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  width: 15.8em; /* TODO: review this */
}

.userinfo {
  background-color: rgba(153, 204, 102, 0.8); /* #99CC66 made transparent */
  border: 1px solid rgb(115, 172, 57); /* from http://www.colorhexa.com/99cc66 */
  color: rgba(0, 0, 0, 0.8);
  font-family: monospace;
  padding: 0.5em;
  vertical-align: middle;
}

.userinfo p {
  margin-bottom: 0;
  margin-top: 0;
}

/* should have a common class for these */
img.icon {
  cursor: pointer;
  height: 1em;
  width: 1em;
}

/* need to override image for sourcinfo block; do not need for stackinfo
 * but lets us add the padding rule to both
 */
div.sourceinfopane div.main img.icon , div.stackinfopane div.main img.icon {
  display: inline;
  padding-left: 0.5em;
}

output.pos {
  display: inline-block;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: right;
  width: 1.5em;
}
output#dec_d { width: 2em; }
output#ra_s { width: 3.5em; }
output#dec_s { width: 2.5em; }

/* Since the stack and source info boxes appear in the help area,
 * do not apply all settings in this section, as some are left for
 * div#xxxinfo or later rules. Examples include the cursor and
 * position settings
 */
div.stackinfopane , div.sourceinfopane ,
div.neareststackinfopane , div.nearestsourceinfopane ,
div.polygoninfopane {
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid white;
  padding: 0;
}

div#stackinfo , div#sourceinfo {
  cursor: move;
  display: none;
  overflow: auto;  /* scroll bar looks ugly when shown */
  position: absolute;
  /* positions applied as inline styles
  right: 2em;
  top: 3em;
 */
  z-index: 200;
}

/* appear to need a max height/width given my grab/move code for
   the windows. This feels wrong. */

div.stackinfopane {
  max-height: 500px;
  max-width: 650px;
}

div.sourceinfopane {
  /* background: rgba(255, 255, 255, 1); */

  max-height: 700px;
  max-width: 700px;
}

/*
 * "Emulate" the WWT backgtound for the example stack/source info
 * panes on the help page.
 */
div.infocontainer {
  background: black;
  /*
   * at the moment the min max-width of source/stackinfopane + 2*2
   * from the internal padding
   */
  max-width: 654px;
  padding: 4px;
}


/* based on .stackinfopane/.sourceinfopane */
/* Would like this centered, but bottom-left is okay to start with
 */
div.neareststackinfopane , div.nearestsourceinfopane {
  /* bottom: 0.5em; */
  cursor: move;
  display: none;
  /* left: 0.5em; */
  overflow: auto;  /* scroll bar looks ugly when shown */
  position: absolute;
  z-index: 200;
}

div.polygoninfopane {
  /* bottom: 0.5em; */
  cursor: move;
  display: none;
  /* right: 0.5em; */
  overflow: auto;
  position: absolute;
  z-index: 200;
}

div.stackinfopane div.main , div.sourceinfopane div.main ,
div.neareststackinfopane div.main , div.nearestsourceinfopane div.main ,
div.polygoninfopane div.main {
  background: rgba(255, 255, 255, 1);
}

.namelink {
  font-size: small;
  font-family: monospace;
}

div.not-semantic-name {
  display: flex;
  flex-direction: row;
}

div.coords {
  font-weight: bold;
  padding-bottom: 1em;
  text-align: left;
  flex: auto;
}

/* due to rule specificity, need some explicit matches and not just rely
 * on .requires-samp.
 */
.requires-samp ,
img#export-samp-source , img#export-samp-stkevt3 {
  display: none;
}

div.samp {
  text-align: right;  /* does this center the image? */
  flex: auto;
}

/* note: using a table for layout as easy to do */

div.sourceinfopane td.label {
  font-size: 100%;    /* there is a generic label which makes the font larger */
  font-style: italic;
  padding-right: 2em;
}

div.sourceinfopane td.labellimit {
  font-style: italic;
  padding-left: 2em;
  padding-right: 2em;
}

div.name {
  background: rgba(255, 255, 255, 0.6);
  float: left;
  margin-bottom: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.3em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  vertical-align: middle;
}

/* location of window-UI-like elements */

div.controlElements {

    height: 1em;

    /* The control box extends across the full pane.
     * Do we need to 'undo' any padding from a parent element? */
    /***
    margin-left: -0.5em;
    margin-right: -0.5em;
 ***/
    
    padding-bottom: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
}

/* do we want a border when the whole pane is displayed? */
div.controlElementsShown {
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.4); */
}

span.title {
  background: rgba(255, 255, 255, 0.6);
  /* float: left; */
  /* margin-bottom: 0; */
  margin-left: 0.5em;
  margin-right: 0.5em;
  /* margin-top: 0.3em; */
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
}

.closable {
  float: right;
}

div.pane-header {
  background-color: #99CC66; /* rgb(153, 204, 102); */
  position: sticky;
  top: 0;
}

div.pane-header > h2 {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

div.pane-header .closable {
  margin-right: 0.5em;
  margin-top: 0.8em; /* depends on h2 height */
}

/*
 * need to ensure this doesn't happen to the close buttons
 * for the "help" versions of the stack/source info panes
 */
#stackinfoexample .closable , #sourceinfoexample .closable {
  margin-top: 0;
}

.switchable {
  float: right;
  margin-left: 0.5em;
  margin-right: 0.2em;
}

.hideable {
}

.showable {
}


tr.selected {
  background: rgba(0, 0, 0, 0.1);
}

div.iconarea {
  background-color: rgba(0, 0, 0, 0.3); /* adjusted to look like panel background */
  border: 1px solid #D9D9D9;
  border-radius: 0.5em;
  display: inline;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  padding: 0.3em;
}

div.iconarea img {
  padding-left: 0.25em;
  padding-right: 0.25em;
}


div.main {
  background: rgba(255, 255, 255, 0.6);  /* is this used anymore ? */
  clear: both;
  padding: 1em;
}

div.main div.basicinfo {
  display: flex;
  flex-direction: row;
  font-size: smaller;
}

div.main div.basicinfo span.clipboard {
  flex: auto;
  padding-right: 1em;
  text-align: left;
}

div.main div.basicinfo span.search {
  flex: auto;
  text-align: center;
}

div.main div.basicinfo span.zoomto {
  flex: auto;
  padding-left: 1em;
  text-align: right;
}

/* is this needed
div.basicinfo + br {
  clear: both;
}
*/

/* bootstrap-inspired styling */
.button {
  background-color: rgba(217, 83, 79, 0.8);  /* red-ish */
  border: 1px solid rgb(212, 63, 58);
  border-radius: 0.5em;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-top: 0.4em;
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.button:hover {
  background-color: rgba(210, 35, 45, 0.8);
  border-color: rgb(172, 41, 37);
  /* color: white; */
  /* text-decoration: none; */
}

/* what is the best way to style this button when it is disbled? */
.button:disabled {
  /* color: rgba(255, 255, 255, 0.05); */
  background-color: rgba(217, 83, 79, 0.4);  /* red-ish */
}

/* turn off "hover" on disabled */
.button:disabled:hover {
  background-color: rgba(217, 83, 79, 0.4);  /* red-ish */
  border: 1px solid rgb(212, 63, 58);
  cursor: pointer;
}

/* handle disabled items in an input button; the default is
 * graytext but this is hard to read */

option:disabled {
  color: rgba(0, 0, 0, 0.4);
}

.settingspane .button {
  margin-bottom: 1em;
  margin-top: 0;
  width: auto;
}

/* Try https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3 */
.checkbox input[type='checkbox'] {
  opacity: 0;
}

.checkbox label::before {
  border: 1px solid;
  content: " ";
  display: inline-block;
  height: 1em;
	margin-right: 0.5em;
  width: 1em;
}

.checkbox label::after {
  border-bottom: 2px solid;
  border-left: 2px solid;
  content: "";
  display: inline-block;
  height: 0.38em;
  transform: rotate(-55deg);
  width: 0.56em;
}

.checkbox label {
  position: relative;
}

/***
.checkbox label::before {
  position: absolute;
}
***/

.checkbox label::after {
  position: absolute;
}

/*Outer-box*/
.checkbox label::before {
  top: 0.19em;
}

/*Checkmark*/
.checkbox label::after {
  left: 0.25em;
  top: 0.1em;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide the checkmark on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}


#sourcebar , #source11bar , #xmmsourcebar {
  display: flex;
  flex-direction: row;
}

/* Do not display by default */
#source11bar , #chsbar {
  display: none;
}

#sourceprops , #source11props , #xmmsourceprops {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #D9D9D9;
  border-radius: 0.5em;
  display: none;
  flex-direction: row;
  left: 100%;
  margin-left: 0.5em;
  position: absolute;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

#togglesources , #togglesources11 , #toggleXMMsources {
  flex: auto;
}

/* Looks like may need to explicitly replace margin/padding settings
 * as seeing significant variationson different browsers
 */
#togglesourceprops , #togglesource11props , #togglexmmsourceprops {
  border-radius: 0.5em;
  display: none;
  flex: 18px;
  margin-left: 0.5em;
  margin-top: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

#togglesourceprops img , #togglesource11props img , #togglexmmsourceprops img {
  /* height: 1em; */
}

/* color buttons for sources */
#sourcecolor , #source11color , #xmmsourcecolor {
  border-radius: 0.5em;
  height: 2em;
  margin-left: 0.5em;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
  vertical-align: middle;
  width: 2em;
}

#sourcesize , #source11size , #xmmsourcesize {
  margin-right: 0.5em;
  width: 4em;
}

#wwtuserbuttons {
  padding-top: 0.5em;
}

#userSelection {
}

#resizeusercontrol {
  cursor: pointer;
  position: relative;
}

/*
 * This seems to get a better result for the width of the tooltip than
 * having the float attached to resizeusercontrol
 */
#resizeusercontrol img {
  float: left;
}

#zoomn, #zoom0, #zoomin, #zoomout, #export-samp {
}

.usercontrol {
  cursor: pointer;
  float: right;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

/* override pointer where appropriate */
#zoomin {
  cursor: zoom-in;
}

#zoomout {
  cursor: zoom-out;
}


.with-tooltip-static , .with-tooltip {
  position: relative;
}

.with-tooltip {
  float: right;
}

/* ugly */
.with-tooltip-static img {
  float: left;
}

.tooltip {
  background: black;
  border: solid 1px white;  /* not 100% sure about this */
  color: white;
  display: none;
  font-size: smaller;
  left: 1em;
  padding: 0.5em 1em;
  position: absolute;
  text-align: center;
  top: 0.5em;
}

#smallify-tooptip , #biggify-tooltip {
  width: 10em;
}

#zoomin-tooltip , #zoomout-tooltip {
  width: 8em;
}

#zoom0-tooltip , #zoomn-tooltip {
  width: 18em;
}

#export-samp-tooltip {
  width: 26em;
}

#plot-properties-tooltip {
  width: 26em;
}

#targetName-tooltip {
  top: 2em;
  width: 15em;
}

#targetFind-tooltip {
  top: 1.5em;
}

#smallify {
}

#bigify {
  display: none;
}

#register-samp {
  display: none;
}

#export-samp {
  display: none;
}

#plot-properties {
  display: none;
}

#targetName {
  margin-top: 0.4em;
  /* width: 14em; */
}

/* temporary information panes */
#targetSuccess, #stackUpdateStatus {
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid white;
  display: none;
  max-width: 650px;
  padding: 1em;
  position: absolute;
  top: 3em;
  right: 1em;
  z-index: 300;
}

/* this is for testing only */
#chs {
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid white;
  display: none;
  max-width: 650px;
  padding: 1em;
  position: absolute;
  top: 3em;
  left: 18em;
  z-index: 400;
}

#targetFailure {
  background: white;
  border: 2px solid rgba(255, 0, 0, 0.8);
  display: none;
  max-width: 650px;
  padding: 1em;
  position: absolute;
  top: 3em;
  right: 1em;
  z-index: 300;
}

#wwtusercontrol {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #D9D9D9;
  border-radius: 0.5em;
  /* cursor: move;   currently have disabled drag on this window */

  display: none;

  left: 1em;
  padding: 0.5em;
  position: absolute;
  top: 1em;
  z-index: 100;
}

/* move down for narrow screens; guess at size, which looks to be
   not that narrow */
@media all and (max-width: 1000px) {
  #wwtusercontrol {
    top: 3em;
  }
}

#wwtusercontrol p.title {
  clear: both; /* do not share vertical space with the resize button */
  font-variant: small-caps;
  margin-bottom: 0.5em;
  text-align: center;
}

img#csclogo {
  display: block;
  margin-bottom: 0.4em;  /* match span#numbers */
  margin-left: auto;
  margin-right: auto;
}

#imagechoice {
}

#togglesources {
}

#togglemw {
}

/* remember to update the pane-pos-xxxx styles if change
   positioning to use different edges than top/left */
div.preselectedpane , div.settingspane {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #D9D9D9;
  cursor: move;
  display: none;
  left: 2em;
  padding: 0;
  position: absolute;
  top: 2em;
  z-index: 200;
}

div.settingspane {
  max-width: 28em;
}

div.settingspane .main + p {
  border-top: 0;
}

.checkboxes {
  background-color: white;
  padding-bottom: 1em;
  padding-top: 1em;
}

/* Use a grid to align the "zoom to location" buttons; should allow
 * for fallback for those browsers which do not support grid CSS.
 */
div.gridable {
  display: grid;
  grid-gap: 0.2em;
  grid-template-columns: repeat(5, 8em);
}

/* should look at using a grid for the toggle/help/credits buttons */

#togglefullscreen {
  display: none;
}

/*
 * Want the about/credits buttons to be on the same line; this is
 * not pretty CSS...
 */
#showabout {
  width: 48%;
}

#showcredits {
  float: right;
  width: 48%;
}

/*
 * Used for the about/help blocks
 */
div.pane {
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(0, 0, 0, 0.8);
  bottom: 2em;
  display: none;
  left: 2em;
  overflow: auto;  /* scroll bar looks ugly when shown */
  padding-left: 1em;
  padding-right: 1em;
  position: absolute;
  right: 2em;
  top: 2em;
}

#welcome {
  background: rgba(255, 255, 255, 1.0);
  border: 2px solid black;
  /* display: none; */
  left: 50%;
  max-width: 50em;
  padding: 1em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
  -webkit-transform: translate(-50%, -50%);
  
}

#welcome h2 { text-align: center; }

div#about , div#credits {
  z-index: 250;
}

img.thumbnail {
  float: left;
  padding-right: 0.5em;
}

div.pane h2 {
  text-align: center;
}

div.pane dt {
  clear: left;  /* avoid thumbnail from preceeding item */
}

div.pane dl {
  padding-bottom: 1em;
}

/*
 * For some reason there is excess vertical space at the bottom of
 * the page. This removes some of it.
 */
div.mainbar + br {
  float: left;
}


/* plots */

/* remember to update the pane-pos-xxxx styles if change
   positioning to use different edges than top/left */
.plotpane {
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid gray;
  cursor: move;
  display: none;
  left: 17em;
  /* max-height: 170px; */
  max-width: 800px;
  overflow: auto;  /* scroll bar looks ugly when shown */
  padding: 0;
  position: absolute;
  /* right: 2em; */
  top: 3em;
  z-index: 250;
}

div#plotchoice {
  margin-bottom: 1em;
}

input.plotchoice { display: none; }

label.plotchoice {
  /* background-color: rgba(217, 83, 79, 0.8);  */ /* red-ish */
  background-color: rgba(217, 83, 79, 0.7);  /* red-ish ; reduce opacity to make selected more obvious */
  border: 1px solid rgb(212, 63, 58);
  border-radius: 0.5em;
  color: white;
  cursor: pointer;
  font-size: smaller;
  margin-top: 0.4em;
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

label.plotchoice:hover {
  background-color: rgba(210, 35, 45, 0.8);
  border-color: rgb(172, 41, 37);
}

input.plotchoice:checked + label.plotchoice {
  background-color: rgba(217, 83, 79, 1.0);
}

#plot1area , #plot2area , #plot3area , #plot4area {
  display: none;
}

div.overview {
  border-top: solid 3px rgba(0, 0, 0, 0.6);
  margin-bottom: 0.5em;
}


/* Try and look like a button */
span.example-button {
  background-color: rgba(217, 83, 79, 0.8);  /* red-ish */
  border: 1px solid rgb(212, 63, 58);
  border-radius: 0.5em;
  color: white;
  padding: 0 0.3em;
  font-size: smaller;
}
